<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<form action="/preg" method="post">
		<input type="text" name="pname" placeholder="상품이름"><br>
		<input type="text" name="description" placeholder="상품내용"><br>
		<input type="text" name="price" placeholder="가격"><br>
		<input type="text" name="status" value="판매"><br>
		<input type="number" name="stockQuantity" placeholder="상품개수"><br>
		<input type="submit" value="등록하기">
	</form>
</div>
</body>
</html>