<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Main Page</title>
</head>
<body>
<h1>Main Page</h1><br>
<div id="wrap">
        <header>
            
        </header>
      
        <div id="ai">
            <ul>
            
                
                <li onclick="location.href='/productDetail?pid=1'" id="ai2"></li>
                <li onclick="location.href='/'" id="ai3"></li>
                <li onclick="location.href='/'" id="ai4"></li>
                <li onclick="location.href='/user/user_recruitDetail?jno=5'" id="ai5"></li>
            </ul>
        </div>
        
        <section>
            <ul id="lastest">
                <li id="jobad1" onclick="location.href='/'"></li>
                <li id="jobad2" onclick="location.href='/'"></li>
                <li id="jobad3" onclick="location.href='/'"></li>
                <li id="jobad4" onclick="location.href='/user/user_recruitDetail?jno=5'"></li>
            </ul>
       	</section>
</div>
</body>
</html>