<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MemberRegForm</title>
</head>
<body>
	<div>
		<form action="/member/regMember" method="post">
			<input type="text" name="username" placeholder="아이디"><br>
			<input type="text" name="password" placeholder="비밀번호"><br>
			<input type="text" name="name" placeholder="이름"><br>
			<input type="text" name="tel" placeholder="전화번호"><br>
			<input type="submit" value="가입하기">
		</form>
	</div>

</body>
</html>